.mission-card {
  background: rgba(255,255,255,0.08);
  padding: 16px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.mission-card:hover {
  transform: scale(1.05);
}
