* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.auth-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at right, #0e3a4f, #050b14);
  display: flex;
  padding: 60px;
  color: #fff;
}

.auth-card {
  position: absolute;
  top: 13vh;
  left: 6vw;
  width: 413px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 18px;
  padding: 30px;
  backdrop-filter: blur(12px);
}

.tab-switch {
  display: flex;
  background: #0a1523;
  border-radius: 50px;
  margin-bottom: 25px;
}

.tab-switch button {
  flex: 1;
  padding: 12px;
  border: none;
  background: transparent;
  color: #8fa3b8;
  border-radius: 50px;
  cursor: pointer;
}

.tab-switch .active {
  background: #11c5f5;
  color: #000;
}

form label {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 15px;
  display: block;
}

form input {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  background: #0a1523;
  border: 1px solid #1e2c40;
  border-radius: 10px;
  color: #fff;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}

.remember-me {
  position: relative;
  left: -37%;
  top: 0.3vh;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #11c5f5;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}


.warning {
  font-size: 11px;
  opacity: 0.6;
  margin-top: 15px;
}

.auth-hero {
  position: absolute;
  left: 41vw;
  top: 44vh;
  flex: 1;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-hero h1 {
  font-size: 56px;
  font-weight: 700;
}

.auth-hero h1 span {
  color: #11c5f5;
}

.auth-hero p {
  margin-top: 20px;
  font-style: italic;
  opacity: 0.7;
  max-width: 480px;
}

.username-popup {
  position: absolute;
  background: rgba(17, 197, 245, 0.1);
  border: 1px solid #11c5f5;
  color: #11c5f5;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  pointer-events: none;
  backdrop-filter: blur(10px);
  z-index: 10;
  animation: fadeIn 0.3s ease;
  margin-top: 5px;
  box-shadow: 0 4px 15px rgba(17, 197, 245, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}